#sign-in-twitter
  - if current_user
    = "Signed in as #{ current_user.name }"
    = link_to 'Sign out', signout_path
  - else
    = link_to 'Sign in with Twitter', '/auth/twitter'
  = link_to 'Sign in with Yahoo', '/auth/yahoo'
-#.search-container
-#  .row
-#    .small-12.medium-12.medium-centered.columns
-#      .button
-#        Sign In with Twitter
